@import "../../data/variables.scss";

.about-us-container {
  background-color: map-get($colors, offWhite);
  display: flex;
  @media (max-width: map-get($breakPoints, m)) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10%;
    padding-top: 5%;
    row-gap: 25px;
    padding-left: 6%;
    padding-right: 6%;
  }
}

.about-us-left-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: $font;
  padding-left: 6%;
  padding-right: 6%;
  @media (max-width: map-get($breakPoints, m)) {
    width: 100%;
    order: 2;
    padding-left: 0;
    padding-right: 0;
  }
}

.about-us-title {
  padding-top: 4%;
  font-size: 30px;
  font-weight: 200;
  line-height: 35px;
  letter-spacing: 2px;
  text-align: left;
  padding-bottom: 2%;
  @media (max-width: map-get($breakPoints, m)) {
    font-size: 18px;
    letter-spacing: 1.25px;
    order: 1;
  }
}

.about-us-paragraph {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: left;
  padding-bottom: 5%;
  @media (max-width: map-get($breakPoints, m)) {
    font-size: 18px;
    line-height: 28px;
    order: 3;
  }
}

.about-us-right-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 6%;
  padding-right: 6%;
  @media (max-width: map-get($breakPoints, m)) {
    width: 100%;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
  }
}

.about-us-epicure-logo {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 50%;
  @media (max-width: map-get($breakPoints, m)) {
    width: 60%;
    height: 50%;
    margin-left: 5%;
    order: 0;
  }
}

.download-logos-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  column-gap: 3%;
  @media (max-width: map-get($breakPoints, m)) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 15px;
    padding-bottom: 7%;
  }
}

.download-logo-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.download-logo {
  display: block;
  width: 180px;
  height: 90%;
}
