.search-bar-container {
    background: #FFFFFFE0;
    opacity: 0.88;
    color: #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: 335px;
        height: 144px;
        padding: 36px 126px 36px 126px;
    }
}