@import "../../data/variables.scss";

.container {
  color: #ffffff;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  @media (max-width: map-get($breakPoints, m)) {
    margin-left: 20px;
    margin-right: -10px;
  }
  @media (min-width: map-get($breakPoints, l)) {
    justify-content: space-around;
    margin-left: -200px;
    margin-right: -200px;
  }
}

.main-icon {
  @media (max-width: map-get($breakPoints, m)) {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  background-color: white;
}

.hamburger-button {
  background-image: url("../../assets/icons/hambIcon.svg");
  background-size: cover;
  background-color: white;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  @media (min-width: map-get($breakPoints, xl)) {
    display: none;
  }
}

.text-button {
    display: none;
    @media (min-width: map-get($breakPoints, l)) {
        display: block;
        border: none;
        font-family: $font;
        background-color: white;
        font-weight: 200;
        font-size: 18px;
        font-family: Helvetica Neue;
        line-height: 22px;
        letter-spacing: 2px;
        text-align: left;
        cursor: pointer;
      }
}

.epicure-button {
    display: none;
    @media (min-width: map-get($breakPoints, l)) {
        display: block;
        border: none;
        font-family: $font;
        background-color: white;
        font-weight: 200;
        font-size: 27px;
        font-family: Helvetica Neue;
        line-height: 33px;
        letter-spacing: 1.3px;
        text-align: left;
        cursor: pointer;
      }
}

.titles-container {
    display: none;
    @media (min-width: map-get($breakPoints, l)) {
        display: flex;
        column-gap: 30px;
        margin-left: -620px;
        justify-content: center;
        align-items: center;
      }
}

.logo-container {
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;
    background-size: cover;
    cursor: pointer;
}