@import '../../data/variables.scss';

.container {
    color: #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 10px;
    @media (max-width: map-get($breakPoints, m)) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.main-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px; 
    background-color: white;
}

.hamburger-button {
    background-image: url('../../assets/icons/hambIcon.svg');
    background-size: cover; 
    background-color: white;
    width: 30px; 
    height: 30px;
    border: none; 
    cursor: pointer;
}
