@import "../../data/variables.scss";

.carousel-title {
  font-family: $font;
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  @media (max-width: map-get($breakPoints, m)) {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
  }
}

.swiper-container {
  width: 85%;
  display: flex;
  @media (max-width: map-get($breakPoints, m)) {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 0;
}

.swiper-slide {
  height: auto !important;
}
