@import "../../data/variables.scss";

.home-page-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: 100%;
}

.all-restaurants-button {
  display: block;
  border: none;
  height: 29px;
  width: 150px;
  position: relative;
  background-color: transparent;
  margin-left: 82%;
  margin-top: 1%;
}

.all-restaurants-button .desktop-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/icons/allRestaurantsButtonDesktop.svg");
  background-size: contain;
}
