@import '../../data/variables.scss';

.home-page-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.img-container {
    @media (max-width: map-get($breakPoints, m)) {
        width: 550px;
        height: 275px;
        margin-left: -130px;
    }
}

