$breakPoints: (
    xs: 300px,
    s: 500px,
    m: 768px, 
    l: 1000px,
    xl: 1440px
);

$font: "Helvetica Neue";

$colors: (
    gray: #979797,
    cream: #F9F4EA,
    yellow: #E19D1A,
    offWhite: #FAFAFA
);
